<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text"
                        class="form-control"
                        placeholder="Buscar hospital..."
                        #txtTermino
                        (keyup)="buscar(txtTermino.value)"/>

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast"
    *ngIf="cargando"> <!--SI CARGANDO ESTA EN TRUE ESTO SE MUESTRA SI NO NO-->
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>



<div class="row"
    *ngIf="!cargando"> <!--SI NO ESTA CARGANDO NO SE MUESTRA-->
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Hospitales {{ hospitales.length }}</h4>
                        <h6 class="card-subtitle">
                            Hospitales registrados en mi aplicacion
                        </h6>
                    </div>
                    <!--Este es el boton de crear hospital-->
                    <div class="col">
                        <div class="text-right">
                            <button (click)="abrirSweetAlert()" class="btn btn-primary">
                                <i class="fa fa-hospital-o"></i>
                                crear hospital
                            </button>
                        </div>
                    </div>
                 </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor= "let hospital of hospitales">
                                <td class="text-center">
                                    <!--{{ hospital.img | imagen: 'hospitales' }}-->
                                    <!--Se envia al pipe la imagen dek hospital y el tipo-->
                                    <!--Esto contruye el url de la imagen por eso se pone en la etiqueta img-->
                                    <img [src]="hospital.img | imagen: 'hospitales'"
                                    [alt]="hospital.nombre"
                                    class="avatar cursor"
                                    (click)="abrirModal(hospital)">
                                
                                </td>
                                <td>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Nombre del hospitales"
                                           [(ngModel)]="hospital.nombre">
                                </td>
                                
                        <!--ESTE ES EL BOTON QUE ESTA EN EL APARTADO ACCCIONES Y QUE GUARDA LOS CAMBIOS CUANDO SE LE CAMBIA EL NOMBRE AL HOSPITAL-->
                                <td class="text-nowrap text-center">
                                    <a (click)="guardarCambios(hospital)"
                                        data-toggle="tooltip"
                                        class="cursor"
                                        data-original-title="Guardar imagen"> 
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                        <!--ESTE ES EL BOTON PARA ELIMINAR QUE ESTA AL LADO DEL DE GUARDAR CAMBIOS EN EL APARTADO ACCIONES-->
                                    <a (click)="eliminarHospital(hospital)" 
                                        data-toggle="tooltip"
                                        class="cursor" 
                                        data-original-title="borrar">
                                     <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button class="btn btn-secondary">Siguiente</button>
            </div>
        </div>
    </div>

</div>

